<!-- Nav -->
<section id="nav">
    <div class="row">
        <div class="12u$ 24u$(medium) important(medium)">
            <ul ng-if="isUserConnected" class="actions small">
                <li class="pull-left" style="padding-left: 5%"><img src="../images/icon.png" width="48px" height="32px"></li>
                <li class="pull-left"><h3><i class="fa fa-buysellads"></i><strong>PP</strong><span>in</span><i class="fa fa-buysellads"></i><strong>IR</strong></h3></li>
                <li ng-if="isSystemAdmin && adminOption" role="presentation"><a href="#/console">Logs</a></li>
                <li ng-if="isSystemAdmin && adminOption" role="presentation"><a href="#/users">Users Administration</a></li>
                <li class="navbar-brand">Welcome {{currentUser.name}}</li>
                <li class="dropdown">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle"
                       data-toggle="dropdown"
                       aria-expanded="false">Account <b class="caret"></b>

                        <div class="ripple-wrapper"></div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/account">Settings</a></li>
                        <li><a><label class="checkbox-inline"><input ng-model="adminOption" type="checkbox" value="">Display Admin Options</label></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul ng-unless="isUserConnected" class="actions small">
                <li class="pull-left" style="padding-left: 5%"><img src="../images/icon.png" width="48px" height="32px"></li>
                <li class="pull-left"><h3><i class="fa fa-buysellads"></i><strong>PP</strong><span>in</span><i class="fa fa-buysellads"></i><strong>IR</strong></h3></li>
                <li><a href="javascript:void(0)" data-toggle="modal" ng-click="displayLoginPopup()" class="button special fit small">Login</a></li>
                <li><a href="javascript:void(0)"  ng-click="displayRegisterPopup()" data-toggle="modal" class="button special fit small">Register</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Header -->
<section id="navinfo">
    <div class="inner">
        <img src="../images/cloud.png" >
        <h3>Cloud Application Distribution Tool</h3>
    </div>
</section>

<ol class="breadcrumb">
    <span style="padding-left: 5%"></span>
    <li ng-repeat="route in routeHistory"><a href="#{{route['path']}}">{{route['name']}}</a></li>
</ol>

<div id="pageContent">
    <ng-view></ng-view>
</div>






<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; APPinAIR 2016</li><li><a href="{!! url('contact/create') !!}">Contact us</a></li>
    </ul>
</section>

